<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fluper.newsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startApplication.SplashActivity"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.HomeActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".authentication.ForgotActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".authentication.OtpActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".profile.CreateProfileActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".profile.ProfileActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".profile.ChooseCategroyActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".profile.SettingActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".home.HomePageActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".home.ArticleDescriptionActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".authentication.ResetPasswordActivity"
            android:theme="@style/splashScreen" />
        <activity
            android:name=".authentication.ChangePasswordActivity"
            android:theme="@style/splashScreen" />
        <activity android:name=".profile.AboutUsActivity" />
        <activity android:name=".profile.PrivacyPolicyActivity" />
        <activity android:name=".profile.TermsAndConditionActivity"></activity>
    </application>

</manifest>